<%- include('partials/header') %>

	<div class="jumbotron jumbotron-fluid img-responsive">
		<div class="container">
			<h1 class="display-4">Hi there,</h1>
			<p class="lead">
				Laundry and Dry Cleaning at your Convenience
			</p>
			<hr class="my-4">
			<p>Place pickup order for laundary and Dry Clean services</p>
			<a class="btn btn-primary btn-lg" href="">Order Now</a>
		</div>
	</div>

<%- include('partials/footer') %>